@media (max-width: 992px) {
    .filters-wrapper {
        position: unset;
        margin-bottom: 1.5rem;
    }
    .filters {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .lists__item.results {
        flex-wrap: wrap;
    }
    .lists__item-left {
        flex: 1;
    }
    .lists__item-images {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }

    .swiper-detail img {
        height: 250px;
    }
    .swiper-gallery img {
        height: 100px;
    }

    .details-left__viewing-date {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}

@media (max-width: 576px) {
    .lists__item-images {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }
}